<% posts.forEach(function(post) { %>
  <section class="section-items">
    <%- include('../_blocks/title', { title: post.title, tags: post.tags, link: post.link, dateFormat: post.dateFormat, stats: post.stats}) %>
    <div class="post-connect">
      <%- post.description %>
      <% if (post.content.length - post.abstract.length !== 14) { %>
      <div class="post-button text-center">
        <a class="btn" href="<%= post.link %>" rel="contents">
          阅读全文 »
        </a>
      </div>
      <% } %>
    </div> 
     <!-- <footer class="post-footer">
      <div class="post-eof"></div>
    </footer> -->
  </section>
<% }); %>  